body {
    font-family: abelregular;
    padding: 20px;
    background: #f1f1f1;
  }

/*font style*/  
h1{
  color: #f1f1f1;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: black;
}
  
/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
}

  
  /* Add a card effect for articles */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    background-color: white;
    padding: 40px;
    margin-top: 20px;
    cursor: pointer;
  }

  .column {
    float: left;
    width: 31.8%;
    padding: 0 10px;
  }
  
  .expandingColumn {
    float: left;
    width: 33.333%;
    padding: 0 10px;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
/* close button inside the post */
.closebtn {
  float: right;
  color:black;
  font-size: 35px;
  cursor: pointer;
}

.containerTab .expandingColumn{
  margin-top: 20px;
}

.containerTab {
  background-color: white;
  padding: 20px;
}


  /* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 576px) {
  .column {
    width: 100%;
    margin-bottom: 20px;
  }
  .expandingColumn{
    width: 100%;
  }
}

@media screen and (min-width: 600px) {
  .column {
    width: 100%;
    margin-bottom: 20px;
  }
  .expandingColumn{
    width: 50%;
  }
}

@media  screen and (min-width: 768px){
  .column{
    width: 48.5%;
    margin-bottom: 20px;
  }
  .expandingColumn{
    width: 33.33%;
  }
}

@media  screen and (min-width: 768px){
  .column{
    width: 48.5%;
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .row.equal {
    display: flex;
    flex-wrap: wrap;
  }
  
}