body {
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;
  }

/*font style*/  
h1{
  color: #f1f1f1;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: black;
}
  
/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
}
  
  /* Add a card effect for articles */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    cursor: pointer;
  }

  .column {
    float: left;
    width: 31.8%;
    padding: 0 10px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    margin-bottom: 20px;
  }
}